/* src/index.css */
@import "tailwindcss";

@theme {
  --color-primary: #135bec;
  --color-background-light: #f6f6f8;
  --color-background-dark: #101622;
  --color-card-light: #ffffff;
  --color-card-dark: #161e2c;
  --color-border-light: #e2e8f0;
  --color-border-dark: #2d3748;
  
  --font-display: "Work Sans", sans-serif;
}

@theme {
  --font-sans: "Helvetica", "Arial", sans-serif;
  --font-serif: "Merriweather", "Times New Roman", serif;
  --color-vn-red: #9f224e;
  --color-vn-gray: #f7f7f7;
}

body {
  background-color: var(--color-vn-gray);
  font-family: var(--font-sans);
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif); /* Dùng font có chân cho tiêu đề */
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Ẩn cho Chrome, Safari và Opera */
  }

  .no-scrollbar {
    -ms-overflow-style: none;  /* Ẩn cho IE và Edge */
    scrollbar-width: none;  /* Ẩn cho Firefox */
  }
}